doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    block headers
  body
    block content